<div class="login">
    <div class="login__card">
        <div class="login__brand">
            <div class="login__logo">
                <img src="/images/logo.png" alt="Globacom Logo" width="60" height="60">
            </div>
            <h3 class="login__title">Knowledge Check</h3>
            <div class="login__version">Version 1.0.0</div>
        </div>
        <div class="login__form">
            <h2 class="login__heading">Login</h2>
            <form action="/auth/login" method="POST">
                <div class="login__group">
                    <label class="login__label" for="username">Username</label>
                    <input type="text" class="login__input" id="username" name="username" required>
                </div>
                
                <div class="login__group">
                    <label class="login__label" for="password">Password</label>
                    <input type="password" class="login__input" id="password" name="password" required>
                </div>
                
                <div class="login__checkbox">
                    <input type="checkbox" class="login__checkbox-input" id="remember" name="remember">
                    <label class="login__checkbox-label" for="remember">Remember me</label>
                </div>
                
                <button type="submit" class="login__button">Login</button>
            </form>
            
            <div class="login__forgot">
                <a class="login__forgot-link" href="/auth/forgot-password">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
